<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

	<!--Connect to the database-->
    <connectionStrings>
        <add name="db_ThiTracNghiem"
            connectionString="Data Source=HQK\SQLEXPRESS;Initial Catalog=db_ThiTracNghiem;Persist Security Info=True;User ID=khanh;Password=khanh"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	
	
	
</configuration>